<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TengDa.WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TengDa.WebService.Properties.Settings>
            <setting name="TengDa_WebService_TestSystemService_MachineAccessTestServiceService"
                serializeAs="String">
                <value>http://SAPMEAP:51000/sapdevwebservice/MachineAccessTestServiceService</value>
            </setting>
            <setting name="TengDa_WebService_MachineService_ExecutingServiceService"
                serializeAs="String">
                <value>http://SAPMEAP:51000/sapdevwebservice/ExecutingServiceService</value>
            </setting>
        </TengDa.WebService.Properties.Settings>
    </applicationSettings>
</configuration>