<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=ZhongXing;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name ="baking1IP" connectionString="192.168.250.1" />
    <add name ="baking2IP" connectionString="192.168.250.2" />
    <add name ="baking3IP" connectionString="192.168.250.3" />
    <add name ="baking4IP" connectionString="192.168.250.4" />
    <add name ="baking5IP" connectionString="192.168.250.5" />
    <add name ="baking6IP" connectionString="192.168.250.6" />
    <add name ="baking7IP" connectionString="192.168.250.7" />
    <add name ="baking8IP" connectionString="192.168.250.8" />
    <add name ="baking9IP" connectionString="192.168.250.9" />
    <add name ="UP1IP" connectionString="192.168.250.17" />
    <add name ="UP2IP" connectionString="192.168.250.18" />
    <add name ="blanking1IP" connectionString="192.168.250.19" />
    <add name ="blanking2IP" connectionString="192.168.250.20" />
    <add name ="sweepCode1IP" connectionString="192.168.250.11" />
    <add name ="sweepCode2IP" connectionString="192.168.250.12" />
    <add name ="sweepCode3IP" connectionString="192.168.250.13" />
    <add name ="sweepCode4IP" connectionString="192.168.250.14" />
    <add name ="sweepCode5IP" connectionString="192.168.250.15" />
    <add name ="sweepCode6IP" connectionString="192.168.250.16" />
    <add name ="leftRobot" connectionString="192.168.250.22" />
    <add name ="rightRobot" connectionString="192.168.250.21" />
    <add name ="transportRobot" connectionString="192.168.250.23" />
    
  </connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="PresentationCore" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="PresentationFramework" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

  
</configuration>